
<div class="wrapper">
  <h1>Stupid Coaching</h1>
  <!-- <p>Find me in app/views/questions/answer.html.erb</p> -->
  <div class="question-box">
    <p><%= @question %></p>
    <p class="ital">-You</p>
  </div>
  <div class="answer-box">
    <p><%= @answer %></p>
    <p class="italic">-You</p>
  </div>
  <br>
  <p><%= link_to "Ask another question", "/ask" %></p>
</div>
